body {
   background-color: rgb(0, 8, 124);
}

.active  {
  color: rgb(69, 28, 255);
}
.container {
   padding: 20px;
}
.active2  {
   color: rgb(103, 243, 38);
}

.active3 {
  color: rgb(248, 37, 0);
}
.active4 {
  color: rgb(255, 208, 0);
}

.active5 {
  color: rgb(88, 61, 1);
}

h1  {
 color: rgb(10, 6, 247);
}

h3  {
  color: rgb(22, 228, 255);
}
